.header {
    background-color: yellow;
    height: 14vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
}

.content {
    background-color: lightgrey;
    height: 86vh;
    width: 100vw;
    text-align: center;
}

.search,
.naviBar {
    height: 7vh;
    line-height: 7vh;
}

.naviBar {
    border-style: solid;
}

.navOption {
    margin-left: 2vw;
}

.navOption:hover {
    transition: 0.5s;
    padding: 0.5%;
    background-color: rgb(0, 0, 0, 0.3);
}

.benefits {
    background-color: white;
    height: 15vh;
    border-radius: 1vw;
}

.contents {
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;
}

.firstOffer,
.offer {
    height: 15vh;
    width: 20vw;
    text-align: left;
    float: left;
}

.firstOffer {
    border-right: solid 0.3vh;
}

.offerTitle {
    margin-top: 3.5vh;
}

.offerTitle,
.offerSubTitle {
    margin-left: 1vw;
}

.theForm{
    background-color: white;
    width: 40vw;
    border-radius: 1vw;
}

.marketingItem{
    background-color: white;
    float: left;
    height: 224px;
    width: 15vw;
    margin: 2.5vw;
    overflow: hidden;
}

.marketingItem:hover{
    transition-duration: 0.5s;
    height: 330px;
    transition-timing-function: ease-out;
}